@using HoaWebApplication.Pages.Contact
@model ContactBoardModel

@if (TempData["Error"] != null)
{
    <br />
    <div class="alert alert-danger">@TempData["Error"]</div>
}
else
{
    <form class="vn" asp-page="/Contact/ContactBoard" asp-page-handler="BoardEmail" enctype="multipart/form-data">
        @**Below hidden input field is required because the AJAX post requires something
            to verify if the submission was successful*@
        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
        <div class="contact-board"></div>
        <input type="hidden" asp-for="EmailProperties.Name" value="@User.Identity.Name" />
        <div class="form-group">
            <label asp-for="EmailProperties.Subject" class="control-label"></label>
            <input asp-for="EmailProperties.Subject" class="form-control" placeholder="Email Subject" />
            <span asp-validation-for="EmailProperties.Subject" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmailProperties.Message" class="control-label"></label>
            <textarea asp-for="EmailProperties.Message" class="form-control" id="tinymcetextarea"></textarea>
            <input type="hidden" id="text-area-content" />
            <span asp-validation-for="EmailProperties.Message" class="text-danger"></span>
        </div>
        <div class="custom-file">
            <input asp-for="EmailProperties.Attachment" type="file" class="custom-file-input" accept=".doc,.docx,.txt,.pdf" aria-describedby="helptext" id="customFile" /><br />
            <label class="custom-file-label" for="customFile">Choose file</label>
            <span asp-validation-for="EmailProperties.Attachment" class="text-danger"></span>
            <small id="helptext" class="form-text text-muted">
                File is optional and must be a word, pdf, or text document. File size must be smaller than 5MB.
            </small>
        </div>
    </form>
}