@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="row">
    <div class="col-md-12">
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h1>403</h1>
                </div>
                <h2>Access Denied</h2>
                <p>You do not have access to this page. Please contact the admin if this is a mistake.</p>
                <a asp-page="/Index">Back To Homepage</a>
            </div>
        </div>
    </div>
</div>
