@page
@model HoaWebApplication.Pages.Info.BoardMembersModel
@{
    ViewData["Title"] = "Board Members";
}

<div class="card">
    <div class="card-header bg-dark text-light">
        <h1>Board Member List</h1>
    </div>
    <div class="card-body">
        <ul class="list-group ">
            <li class="list-group-item list-group-item-action">
                <strong>President</strong>
                <ul>
                    <li class="fa-board-icon">
                        Test Member
                    </li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-action">
                <strong>Secretary</strong>
                <ul>
                    <li class="fa-board-icon">
                        Test Member
                    </li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-action">
                <strong>Treasurer</strong>
                <ul>
                    <li class="fa-board-icon">
                        Test Member
                    </li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-action">
                <strong>Executive Members</strong>
                <ul>
                    <li class="fa-boardmembers-icon">
                        Test Member
                    </li>
                    <li class="fa-boardmembers-icon">
                        Test Member
                    </li>
                    <li class="fa-boardmembers-icon">
                        Test Member
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>